<div class="home-container">
  <h1>Home</h1>
  <% if current_user %>
  <h2><%= "Hello " + current_user.name %></h2>
  <h3>Lista de Apólices</h3>
    <table class="home-table">
      <thead>
        <tr>
          <th>Data Emissão</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Veículo</th>
          <th>Ano</th>
          <th>Placa</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @policies.each do |policy| %>
          <tr>
            <td><%= policy["dataEmissao"] %></td>
            <td><%= policy["segurado"]["nome"] %></td>
            <td><%= policy["segurado"]["cpf"] %></td>
            <td><%= policy["veiculo"]["marca"] %> <%= policy["veiculo"]["modelo"] %></td>
            <td><%= policy["veiculo"]["ano"] %></td>
            <td><%= policy["veiculo"]["placa"] %></td>
            <td>
              <% if policy["status"] == "pago" %>
                Pago
              <% else %>
                <%= link_to "Pagar", new_payment_path(policy_id: policy["policyId"]), class: "payment-link" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%= link_to "Edit Account", edit_user_registration_path, class: "home-link" %>
  <%= button_to "Logout", destroy_user_session_path,class: "home-button", data: {turbo: false}, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Create Account", new_user_registration_path %>
  <%end%>
</div>